body {
    background: linear-gradient(45deg, #f9f2b0e8, #EEEA92, #f9f8d2);
}

/* Start of Navigation */
nav {
    background: #e8de17d0;
    font-size: 25px;
}


.nav-icon {
    width: 50px;
    height: 60px;
}

nav a {
    font-size: 25px;
    margin-right: 40px;
    color: #000;
    font-family: Jacques Francois Shadow;
    transition: 1s;
}

nav a:hover {
    cursor: pointer;
}

h2 {
    font-weight: bold;
    font-family: Hahmlet;
}

h3,
p {
    font-family: Fraunces;
}

h1 {
    font-family: Inria-Serif;
    margin-top: 30px;
}

/* Styling Hard coded Elements */
form input,
form button {
    border-radius: 50px;
    font-family: Junge;
    margin-top: 20px;
}

form input {
    padding-left: 10px;
    font-size: 18px;
}

/* Styling Dynamic Recipe Elements */
#recipes {
    margin-top: 60px;
    display: grid;
    grid-template: repeat(4, 300px) / repeat(4, 200px);
    justify-content: space-around;
}

.Recipe-Container {
    width: 100%;
    background: #9F9A2A;
    background: linear-gradient(90deg, #d6d282, #9F9A2A);
    height: fit-content;
    padding-bottom: 30px;
}

.Recipe-Container img {
    width: 100%;
    height: 150px;
}

.Recipe-Container h6 {
    margin: 10px;
    text-align: left;
    font-family: Junge;
}

.Recipe-Container button {
    font-family: Junge;
    background: #786D46;
    border-radius: 30px;
}

/* Start of Footer */
footer {
    padding: 15px 0 1px 0;
    font-size: 20px;
    font-weight: bold;
    background: #70492C;
}