:root {
    --yellow: #E6DC00;
    --lightYellow: #CBCF9B;
    --brown: #78511B;
}
.navbar {
    background-color: #e8de17d0;
}

body {
    background-color: var(--lightYellow);
}

.title{
    text-align: center;
    margin-top: 10px;
}

h3, h2 {
    color: var(--brown);
}

.nav-icon {
    width: 50px;
    height: 60px;
}
