#form {
    text-align: center;
}

.search-container {
    background-color: brown;
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

#userinput{
    width: 80%;
    padding: 10px;
    border: 2px solid brown;
    border-radius: 20px;
    text-align: center;
}

#btn {
    padding: 10px 20px;
    border: none;
    background-color: #D4AC0D;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 10px auto;

}
h1, h4 {
   font-family: 'Hamlet' , sans-serif;
   font-weight: bold;
}

p {
   font-family: 'Fraunces', serif;
}

button { 
   font-family: 'fraunces', serif;
   font-weight: bold;

}
img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}


#img1 {
    width: 300px; 
    height: auto; 
}

#img2 {
    max-width: 300px; 
    height: auto; 
}
